@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url("https://use.typekit.net/kxd5wpk.css");


*{
    margin: 0;
    padding: 0;
}

section{
    position:absolute;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
#hero{
    background-image: url('./Assets/Hero5.png');
    background-size: cover;
    background-position:top;
    background-repeat: no-repeat;
    min-width: 100%;
    height: 100%; 
    position: relative;
}

@media screen and (max-width: 600px){
    #hero{
        height: 50vh;
        width: 100vw;
    }
}

nav{
    position : absolute;
    display: block;
    width: 80%;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
}
nav #logo{
    margin-left: 5rem;
    width: 2rem;
    height: 2rem;
}
nav .nav-link{
    padding: 10px;
    text-align: center;
    text-size-adjust: 9px;
    text-decoration: underline;
    text-underline-offset: 5px;
    color: rgb(248, 243, 243);    
    font-family: 'lato', sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
    font-style: italic;
}
.nav-class .icon {
    display: none;
}
@media screen and (max-width: 600px) {
    .nav-class .nav-link {
        display: none;
    }
    .nav-class a.icon {
    text-decoration: none;
    float: right;
    display: block;
    color: aliceblue;
    }
}
@media screen and (max-width: 600px) {
    .nav-class.responsive {position: relative;}
    .nav-class.responsive a.icon {
        position: absolute;
        right: 0;
        top: 1;
        left:20rem;
          
          
    }
    .nav-class.responsive a {  
        float: none;
        display: block;
        text-align: left;
    }
   
}  

@media screen and (max-width: 600px) {
    .nav-class .nav-list {
        position: relative;
        top: 1rem;
        display: block;
        text-align: left;
       
    }
}


/* Sticky nav starts here */
@media screen and (max-width: 600px) {
    .sticky-nav .sticky-nav-link {
        display: none;
    }
    
}
.sticky-nav{
    display: flex;
    justify-content: space-between;
    /* align-items:safe; */
    background-color: aliceblue;
    position: relative;
    top: 0;
    z-index: 100;
    overflow: hidden;

}


.sticky-nav-images{
    padding: 10px;
    display: flex;
}
.sticky-nav #logo{
    margin-left: 5rem;
    width: 3.5rem;
    height: 3.5rem;
    padding: 5px;
}

.sticky-nav #sticky-nav-text-img{
    margin-right: 5rem;
    width: 7rem;
    height: 3.5rem;
    padding: 3px;
}

.sticky-nav-link a{
    text-decoration: underline;
    text-underline-offset: 5px;
    color: rgb(55, 49, 49);
    opacity:0.8;
    padding: 30px;
    font-family: 'lato', sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
    font-style: italic;
}

.sticky-nav-list{
    display: flex;
    padding-right: 10%;
}

#history{
    
    background-size: cover;
    background-position:top;
    background-repeat: no-repeat;
    min-width: 100%;
    height: 100%; 
    position: absolute;
  
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }