.LOSANGELES_MOUNTAINS_copy {
    font-size: 13.29px;
    font-family: "Bebas";
    color: rgb(77, 77, 77);
    text-transform: uppercase;
    line-height: 1.079;
    text-align: left;
    -moz-transform: matrix( 8.61223977351529,0,0,8.68890863484864,0,0);
    -webkit-transform: matrix( 8.61223977351529,0,0,8.68890863484864,0,0);
    -ms-transform: matrix( 8.61223977351529,0,0,8.68890863484864,0,0);
    position: absolute;
    left: 671.952px;
    top: 356.037px;
    z-index: 106;
  }
  